* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(102, 102, 102);
    font-family: Arial, sans-serif;
}

header {
    height: 75px;
    border: 3px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

header .logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 60px;
    height: 60px;
    border: 3px solid #800020;
    border-radius: 50%;

    margin: auto;

    transition: 0.23s ease-in-out;

}

.logo:hover {
    transform: scale(1.05);
}

.logo-container h1 {
    color: #800020;
    text-shadow: 2px 2px #a5052d,
     4px 4px #c30635,
     -2px -2px #580016,
     -4px -4px #39010f;

    transition: 0.23s ease-in-out;
}

.logo-container h1:hover {
    color: #800020;
    text-shadow: 2px 2px #580016,
    4px 4px #39010f,
    -2px -2px #c30635,
    -4px -4px #a5052d;
}

.link {
    text-decoration: none;
}

header nav ul {
    gap: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0;
}

header nav ul li {
    transition: 0.23s ease-in-out;
}

header nav ul li:hover {
    transform: scale(0.95);
}

header nav ul li a {
    color: antiquewhite;
    background-color: #800020;
    border: 3px solid antiquewhite;
    border-radius: 10px;
    padding: 8px 12px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

header nav ul li a:hover {
    background-color: antiquewhite;
    color: #800020;
    border: 3px solid #800020;
}

.active {
    background-color: antiquewhite;
    color: #800020;
    border: 3px solid #800020;
}

#welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #800020;
}

#welcome span {
    color: #39010f;
}

#construction {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects {
    background-color: #580016;
    border: 3px solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
}

.proj-links {
    display: block;
    width: fit-content;
    margin: 10px auto;
    text-decoration: none;
    color: #800020;
    transition: 0.3s ease-in-out;
}

.proj-links:hover {
    color: #580016;
}

.project {
    width: min(250px, 100%);
    min-height: 370px;
    background-color: antiquewhite;
    border: 3px solid blue;
    transition: 0.3s ease-in-out;
    box-shadow: 5px 5px 10px black;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    text-align: center;
    justify-content: space-between;
}

.project:hover {
    transform: scale(1.03);
}

.proj-imgs {
    display: block;
    width: 75%;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

.about-z3be {
    border: 3px solid #800020;
    border-radius: 10px;
    display: block;
    padding: 10px;
    margin: 30px auto;
    width: 90%;
    max-width: 420px;
    background-color: #e1597b;
    color: black;
}